name: cron

on:
  schedule:
    # UTC 0 * 18 * * 1 based.
    - cron: '* 17 * * 1'

jobs:
  cron:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Get current date
        run: echo "NOW=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: install
        run: yarn install

      - name: Run job
        env:
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          GHP_TOKEN: ${{ secrets.GHP_TOKEN }}
        run: yarn start -t=$NOW

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: kishe89
          author_email: kishe89@naver.com
          message: 'automated update $NOW'
          add: '-A'