name: cron

on:
  schedule:
    # UTC 0 based.
    - cron: '* 18 * * 1'

jobs:
  cron:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%M-%D')"

      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: install
        run: yarn install

      - name: Run job
        run: yarn start -t=${{ steps.date.outputs.date }}

      - name: Archive Job result
        uses: actions/upload-artifact@v3
        with:
          name: work-report
          path: output/*