name: manually

on:
  workflow_dispatch:
    inputs:
      targetDate:
        description: 'Target Week DateTime format string(YYYY-MM-DD)'
        required: true
        default: 'YYYY-MM-DD'
        type: string

jobs:
  printIssueToPDF:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Get current date
        run: echo "{NOW}=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - name: echo current date
        run: echo $NOW
      - uses: actions/checkout@v2
#      - name: Generate Environment Variables File for Production
#        run: |
#          echo "PROJECT_ID=$PROJECT_ID" >> $GITHUB_ENV
#          echo "GHP_TOKEN=$GHP_TOKEN" >> $GITHUB_ENV
#        env:
#          PROJECT_ID: ${{ secrets.PROJECT_ID }}
#          GHP_TOKEN: ${{ secrets.GHP_TOKEN }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: install
        run: yarn install

      - name: Run job
        run: yarn start -t=$NOW

      - name: Archive Job result
        uses: actions/upload-artifact@v3
        with:
          name: work-report
          path: output/*